<h2 class="card-title">CHOOSE YOUR TRIP</h2>
<div class="row justify-content-center row-cols-auto pt-4">
  <% @trips.each do |trip| %>
    <div class="col p-4">
      <%= link_to trip_path(trip) do %>
        <div class="card p-3" style="background-color: rgba(245, 245, 245, 0); border-color: rgba(245, 245, 245, 0.5)">
          <% case trip.destination %>
          <% when "Pluto" %>
            <div class="fiche--pluto">
          <% when "Mercury" %>
            <div class="fiche--mercury">
          <% when "Mars" %>
            <div class="fiche--mars">
          <% when "Jupiter" %>
            <div class="fiche--jupiter">
          <% when "Saturn" %>
            <div class="fiche--saturn">
          <% when "Uranus" %>
            <div class="fiche--uranus">
          <% when "Neptune" %>
            <div class="fiche--neptune">
          <% when "Venus" %>
            <div class="fiche--venus">
          <% when "Sun" %>
            <div class="fiche--sun">
          <% end %>
            <div class="planet__atmosphere">
              <div class= "planet__surface"></div>
            </div>
            <div class="card-body p-3 fiche-text">
              <h5 class="card-title text-center border-bottom border-dark p-3"><%= trip.destination %></h5>
              <p class="card-text"> depArture: <%= trip.departure_date %></p>
              <p class="card-text"> arriVal: <%= trip.arrival_date %></p>
              <p class="card-text"> pRice: <%= trip.price %> $</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>
