<div class="index-title">
  <h2 class="card-title-index">ChooSe YouR trIp</h2>
</div>
<div class="row justify-content-center row-cols-auto pt-4 mb-5">
  <% @trips.each do |trip| %>
    <div class="col p-4">
      <%= link_to trip_path(trip) do %>
        <div class="card p-3">
          <% case trip.destination %>
          <% when "Pluto" %>
            <div class="fiche--pluto">
          <% when "Mercury" %>
            <div class="fiche--mercury">
          <% when "Mars" %>
            <div class="fiche--mars">
          <% when "Jupiter" %>
            <div class="fiche--jupiter">
          <% when "Saturn" %>
            <div class="fiche--saturn">
          <% when "Uranus" %>
            <div class="fiche--uranus">
          <% when "Neptune" %>
            <div class="fiche--neptune">
          <% when "Venus" %>
            <div class="fiche--venus">
          <% when "Sun" %>
            <div class="fiche--sun">
          <% end %>
            <div class="planet__atmosphere">
              <div class= "planet__surface"></div>
            </div>
            <div class="card-body p-3 fiche-text">
              <h5 class="card-title text-center border-bottom border-dark p-3"><strong><%= trip.destination %></strong></h5>
              <p class="card-text"> <strong>depArture:</strong> <%= trip.departure_date %></p>
              <p class="card-text"> <strong>arriVal:</strong> <%= trip.arrival_date %></p>
              <p class="card-text"> <strong>pRice:</strong> <%= trip.price %> $</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<a href="#navbar-example2">
  <p class="scroll-up-button">
    <i class="fas fa-arrow-circle-up"></i>
  </p>
</a>
<%= render 'shared/footer' %>
