<div class="container">
  <%= simple_form_for [ @company, @trip] do |f| %>
    <%= f.input :destination %>
    <%= f.input :description %>
    <%= f.input :departure_date %>
    <%= f.input :arrival_date %>
    <%= f.input :price %>
    <%= f.input :number_of_passengers %>
    <%= f.submit "Add Trip", class: "btn btn-primary" %>
  <% end %>
</div>
<%= render 'shared/footer' %>
