<p class="back-icon m-3">
  <%= link_to trips_path do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>
</p>
<div class="container pb-2 mb-5">
  <div class="card p-3" style="background-color: rgba(245, 245, 245, 0); border-color: rgba(245, 245, 245, 0.5)">
    <% case @trip.destination %>
    <% when "Pluto" %>
      <div class="fiche--pluto">
    <% when "Mercury" %>
      <div class="fiche--mercury">
    <% when "Mars" %>
      <div class="fiche--mars">
    <% when "Jupiter" %>
      <div class="fiche--jupiter">
    <% when "Saturn" %>
      <div class="fiche--saturn">
    <% when "Uranus" %>
      <div class="fiche--uranus">
    <% when "Neptune" %>
      <div class="fiche--neptune">
    <% when "Venus" %>
      <div class="fiche--venus">
    <% when "Sun" %>
      <div class="fiche--sun">
    <% end %>
      <div class="row justify-content-center m-2">
        <div class="planet__atmosphere">
          <div class= "planet__surface"></div>
        </div>
      </div>
        <h5 class="card-title text-center border-bottom border-dark p-3"><%= @trip.destination %></h5>
      <div class="row row-cols-2 text-center p-4">
        <div class="col">
          <p class="card-text"> depArtuRe: <%= @trip.departure_date %></p>
          <p class="card-text"> arRivAl: <%= @trip.arrival_date %></p>
        </div>
        <div class="col">
          <p class="card-text"> priCe: <%= @trip.price %> $</p>
          <p class="card-text"> pAssengeRs: <%= @trip.number_of_passengers %></p>
        </div>
      </div>
        <p class="card-text"><%= @trip.description.downcase %></p>
      </div>
      <div class="row justify-content-center mt-4 mb-1">
        <button class="glow-on-hover border border-white" type="button"><%= link_to "BOOK NOW", booking_path %></button>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
